{
    "presets": [
        "@babel/preset-env", // Compila EnmaScript y EnmaEscipt 6
        "@babel/preset-react" // Compila JSX y sintaxtis de react
    ],
    "plugins": [
      ["@babel/transform-runtime"]
    ]
}